*.DS_Store
*.rbc
capybara-*.html
.rspec
.env
.env.test
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/application.yml
config/database.yml
config/deploy.rb
config/deploy/*

## Environment normalisation:
/.bundle
/public/assets/*
/vendor/bundle

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
