<div class="container">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <div>
        <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-horizontal'}) do |f| %>
            <div class="page-header">
              <h3>Forgot your password?<small></small>
        <span class="pull-right">
          <input type="submit" class="btn btn-primary" value="Submit" />
        </span>
              </h3>
            </div>

            <%= devise_error_messages! %>

            <fieldset>
              <%= f.input :email, class: 'input-normal',
                          controls_html: { class: 'col-lg-8' },
                          label_html: { class: 'col-lg-4' },
                          input_html: { class: 'form-control', type: :text },
                          hint: 'Enter your email address here and we will send you instructions to reset your password.' %>

            </fieldset>
        <% end %>
        <%= render partial: 'devise/shared/links' %>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
