<% content_for :dialog do %>
    <div class="alert alert-warning">
    <h1>Access Denied</h1>

    <div>
      <p>You have attempted to access a resource that you do not have access to.</p>
    </div>
    </div>
<% end %>